<?xml version="1.0"?>
<!--
/**
 * @author     Pavel Usachev <pausachev@gmail.com>
 * @copyright  2019 Pavel Usachev
 * @license    https://opensource.org/licenses/BSD-3-Clause  BSD-3-Clause
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="alevel_custom_total_sales_model_service_quote_submit_before"
                  instance="ALevel\CustomTotal\Observer\SaveOrderBeforeSalesModelQuoteObserver" />
    </event>
</config>
